html, body { font-size: 62.5%; width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; }
/*外层包裹*/
div.conter { width: 100%; max-width: 1000px; height: 100%; margin: 0 auto; background: #68cdd5; }
/*顶部导航*/
div.top { width: 100%; }
div.top div.conter_img { position: relative; width: 12%; height: 0; padding-bottom: 12%; }
div.top img { width: 90%; height: auto; margin: 10%; }
/*logo图片*/
div.logo { position: relative; width: 80%; height: 20%; margin: 0 auto; text-align: center; }
div.logo img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
/*文本区域*/
div.text { font-size: 2.4rem; line-height: 2.8rem; width: 80%; height: 40%; margin: 0 auto; text-align: justify; color: #fff; }
/*底部区域*/
div.bottom { overflow: hidden; width: 100%; height: auto; }
div.bottom span { font-size: 2.5rem; font-weight: bold; display: block; margin-top: 5%; color: #fff; }
div.bottom_left { float: left; width: 50%; height: 80%; text-align: center; }
div.bottom_left div.bottom_img_l { width: 50%; margin: 0 auto; }
div.bottom_left div.bottom_img_l img { width: 100%; max-width: 150px; height: auto; }
div.bottom_right { float: right; width: 50%; height: 80%; text-align: center; }
div.bottom_right div.bottom_img_r { width: 50%; max-width: 150px; margin: 0 auto; }
div.bottom_right div.bottom_img_r img { width: 100%; height: auto; }